* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #000;
    overflow-y: hidden;
}

@keyframes animation {
    from {
        top: 100%;
    }
    to {
        top: -100%;
    }
}
.root__text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
}

.episode__title,
.episode__name,
.episode__text-primary,
.episode__text-secondary {
    width: 700px;
    text-align: center;
    color: #e4de46;
    font-weight: 700;
    font-size: 40px;
}

.episode__title,
.episode__name {
    margin-bottom: 30px;
}

.episode__text-primary{
    margin-bottom: 60px;
}
